<% title "Login", false %>
<section id="login" class="pure-u-1">
  <div class="content">
    <h1>Please login to view contents.</h1>
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
      <%= link_to "Click here to login", 'auth/cas' %>
    </div>
  </div>
</section>
